html.h-full.w-full.flex.flex-col

    head
        link(rel="stylesheet", type="text/css" href="styles/style.css")
        style.

            #header-current-page:before {
                content: counter(page);
            }

            #header-total-pages:after {
                content: counter(pages);
            }

            #footer-current-page:before {
                content: counter(page);
            }

            #footer-total-pages:after {
                content: counter(pages);
            }

            .footer {
                position: running(footerRunning);
            }

            @page {
                margin: 20px 20px 80px 20px;
                size: Letter;
                @bottom-center {
                    content: element(footerRunning);
                }
            }

            table {
                page-break-inside: auto;
            }

            tr {
                page-break-inside: avoid;
                page-break-after: auto;
            }

            thead {
                display: table-header-group;
            }

            tfoot {
                display: table-footer-group;
            }

            footer {
                page-break-inside: avoid;
            }

            #serviceRow {
                width: 43%;
            }

            #dateRow {
                width: 25%;
            }

            #upriceRow {
                width: 13%;
            }

            #quatityRow {
                width: 5%;
            }

            #priceRow {
                width: 14%;
            }
    title

    header.flex.flex-col.text-base.px-4
        .flex.w-full.justify-between.items-start
            div
                p.whitespace-pre.leading-tight.uppercase
                    | LRS Of Minnesota
                    br
                    | PO BOX 9273
                    br
                    | ROCHESTER MN, 55903
            div
                img.h-28.float-right(src="https://upload.wikimedia.org/wikipedia/commons/2/21/ZDF_logo%21_Logo_2021.svg")
        .flex.w-full.justify-between.items-center.py-4
            div
                p.font-bold.mb-2 Invoice for:
                p.font-black.whitespace-pre.leading.text-xs ATTN:

                p.whitespace-pre.leading
                    | LAACK, KARL
                    | CITY OF RIVIERA BEACH PUBLIC WORKS
                    | 1481 WEST 15TH STREET
                    | RIVIERA BEACH, FL 33404
            div.flex.flex-col.justify-center.items-end
               .flex.justify-between.w-72
                   .font-bold Account No:
                   div 221203001008
               .flex.justify-between.w-72
                   .font-bold Account:
                   div 221203001008
               .flex.justify-between.w-72
                   .font-bold Invoice #:
                   div UB176950
               .flex.justify-between.w-72
                   .font-bold Invoice date:
                   div 11/01/2022
               .flex.justify-between.w-72.pb-1.border-b-2(class="border-black/10")
                    .font-bold Pages:
                    div
                        span#header-current-page
                        span /
                        span#header-total-pages
               .flex.justify-between.w-72.pt-1
                    .font-bold Invoice total:
                    div $41.20

    main.w-full.px-4.content
        table.w-full.border-collapse.text-xs
            thead.uppercase
                tr.border-t-2(class="border-black/10")
                    th#serviceRow.py-2.px-4.font-normal.text-left Service
                    th#dateRow.py-2.px-4.font-normal.text-left Date
                    th#upriceRow.py-2.px-4.font-normal.text-right Price
                    th#quatityRow.py-2.px-4.font-normal.text-right QTY
                    th#priceRow.py-2.px-4.font-normal.text-right AMOUNT
            tbody
                tr.border-y-2(class="border-black/10")
                    td.py-2.px-2.bg-blue-50(colspan="5") 5363 Loon LN NW
                tr
                    td.py-2.px-2.font-bold(colspan="5") 1ct RESI WASTE x1 Weekly | WO-0002729
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr.border-y-2(class="border-black/10")
                    td.py-2.px-2.bg-blue-50(colspan="5") 5363 Loon LN NW
                tr
                    td.py-2.px-2.font-bold(colspan="5") 1ct RESI WASTE x1 Weekly | WO-0002729
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr.border-y-2(class="border-black/10")
                    td.py-2.px-2.bg-blue-50(colspan="5") 5363 Loon LN NW
                tr
                    td.py-2.px-2.font-bold(colspan="5") 1ct RESI WASTE x1 Weekly | WO-0002729
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr.border-y-2(class="border-black/10")
                    td.py-2.px-2.bg-blue-50(colspan="5") 5363 Loon LN NW
                tr
                    td.py-2.px-2.font-bold(colspan="5") 1ct RESI WASTE x1 Weekly | WO-0002729
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr.border-y-2(class="border-black/10")
                    td.py-2.px-2.bg-blue-50(colspan="5") 5363 Loon LN NW
                tr
                    td.py-2.px-2.font-bold(colspan="5") 1ct RESI WASTE x1 Weekly | WO-0002729
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr.border-y-2(class="border-black/10")
                    td.py-2.px-2.bg-blue-50(colspan="5") 5363 Loon LN NW
                tr
                    td.py-2.px-2.font-bold(colspan="5") 1ct RESI WASTE x1 Weekly | WO-0002729
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr.border-y-2(class="border-black/10")
                    td.py-2.px-2.bg-blue-50(colspan="5") 5363 Loon LN NW
                tr
                    td.py-2.px-2.font-bold(colspan="5") 1ct RESI WASTE x1 Weekly | WO-0002729
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
                tr
                    td.py-2.px-2 Standard trash service with a largeeeeeeeeeeeeeee name
                    td.py-2.px-2 05/01/2023 - 05/31/2023
                    td.py-2.px-2.text-right $10.00
                    td.py-2.px-2.text-right 2
                    td.py-2.px-2.text-right $20.00
            tfoot
                tr
                    td &nbsp;
                tr
                    td &nbsp;
                tr
                    td &nbsp;
                tr
                    td &nbsp;
    footer.w-full.bottom-0.text-xs.flex.flex-1.flex-col.justify-end
        .flex.flex-col.items-end.py-2.px-4.border-t-2.mx-2(class="border-black/10")
            .text-xs.text-textSecondary Invoice total
            .font-semibold.text-xl $42.51
        .flex.justify-between.py-2.mx-2.border-t-2(class="border-black/10")
            .flex-1.flex
                .flex.flex-col.items-end.p-2.m-2.border-2.rounded-lg.border-gray-500.bg-gray-50
                    .text-textSecondary Current
                    .font-normal.text-lg $42.51
                .flex.flex-col.items-end.p-2.m-2.border-2.rounded-lg(class="border-amber-500 bg-amber-50/[.1]")
                    .text-textSecondary 31-60 days
                    .font-normal.text-lg $10
                .flex.flex-col.items-end.p-2.m-2.border-2.rounded-lg.border-orange-500.bg-orange-50
                    .text-textSecondary 61-90 days
                    .font-normal.text-lg $10
                .flex.flex-col.items-end.p-2.m-2.border-2.rounded-lg.border-red-500.bg-red-50
                    .text-textSecondary Over 90 days
                    .font-normal.text-lg $10

            .flex.flex-col.items-end.py-2.pr-4.pl-8.m-2.border-2.rounded-lg.border-black
                .text-textSecondary.uppercase Pay now
                .text-lg $72.51
        .flex.justify-between.items-start.py-2.px-2.mx-2
            p.flex-1.h-fit.border-l-2.pl-2.text-xs(class="border-black/10")
                | Please visit &nbsp;
                a.text-info.underline.pointer(href="www.sunrisesanitation.haulerhero.com") www.sunrisesanitation.haulerhero.com
                | &nbsp; to  make a payment
                br
                | Additional charges will be incurred if payment is not received by due date.
            .py-2.px-4.mx-2.rounded-lg.bg-blue-50.text-textSecondary.text-xs
                | Total balance due includes
                br
                | current the invoice plus any
                br
                | past due charges
    .px-4.fixed.bottom-8.w-full.flex.flex-col.justify-start.py-2.px-4.border-t-2.mt-4.text-xs(class="border-black/10")
        .flex.w-full.justify-start
            p
                | Tel. 1-860-423-8821 | Mon - Fri 6:00 PM - 1:00 AM
        .flex.flex-row.w-full.justify-between
            p 2447 Center Avenue, Fresno, CA 93711 | &nbsp;
                a(src="www.sunrisesanitation.haulerhero.com") www.sunrisesanitation.haulerhero.com
            div
                span#footer-current-page
                span /
                span#footer-total-pages