html.h-full.w-full
  head
    link(rel="stylesheet", type="text/css" href="styles/style.css")
title
body.h-full.w-full
    // quarter
    - for(var x = 0; x < 24; x++)
        div.text-xs.inline-block.border-dashed.border-2.border-slate-700.float-left.px-6.py-8(class="w-full h-1/3 print:w-full h-1/3 print:text-xs")
            // column
            div.float-right(class="w-1/6")
            div.float-right(class="w-2/6")
                // row
                div.w-full.text-center(class="table after:content-[''] clear-both")
                    .inline-block.p-4.border.border-2.border-slate-900.rounded-lg
                        span First Class Mail
                            br
                            span US Postage Paid
                            br
                            span Mailed from Zip Code 90210
                            br
                            span Permit #1001
                //empty row
                div.mt-8.ml-8(class="table after:content-[''] clear-both")
                    span
                        | Due Date:
                        =" "
                        span.font-bold 10/01/2022
                    br
                    span
                        | Amount Due:
                        =" "
                        span.font-bold $0.00
                    br
                    span Return this stub with payment
                // row
                div.mt-4.ml-8(class="table after:content-[''] clear-both")
                    span.font-bold Tracy265Matthews264
                    br
                    span Woodland Street
                    br
                    span Highlands, New Jersey, 07732
                    br
            div.float-right(class="w-3/6")
                // row
                div(class="table after:content-[''] clear-both")
                    span.font-bold Hauler Hero Internal RC Environment
                    br
                    span 1450 Frazee Road #410, San Diego, CA 92108
                    br
                    span Return Service Requested
                    br
                // row
                div.mt-4(class="table after:content-[''] clear-both")
                    span
                        | Account Number:
                        =" "
                        span.font-bold HH-10414
                    br
                    span
                        | Invoice Date:
                        =" "
                        span.font-bold 09/01/2022
                    br
                    span
                        | Billing Period:
                        =" "
                        span.font-bold 08/01/2022 - 09/01/2022
                //row
                table.table-auto.border-collapse.border.border-slate-400.text-xs.mt-4(class="print:table-auto print:border-collapse print:border print:border-slate-400")
                    thead
                        tr
                            th.text-left.border.border-slate-400 SERVICE
                            th.text-left.border.border-slate-400 DATE
                            th.text-left.border.border-slate-400 PRICE
                    tbody
                        tr
                            td.border.border-slate-400 Roll-off
                            td.border.border-slate-400 08/03/2022 - 08/03/2022
                            td.border.border-slate-400 $0.00
                        tr
                            td.border.border-slate-400 Astro - AIRLINE IMP DIST - AIRLINE IMP DIST(SPD)
                            td.border.border-slate-400 01/04/2023
                            td.border.border-slate-400 $0.00
                        tr
                            td.border.border-slate-400 Astro - AIRLINE IMP DIST - AIRLINE IMP DIST(SPD)
                            td.border.border-slate-400 01/04/2023
                            td.border.border-slate-400 $0.00
                div.mt-4(class="table after:content-[''] clear-both")
                p Please visit https://www.haulerhero.com to see your invoice and make payment

            // column