html.h-full.w-full
  head
    link(rel="stylesheet", type="text/css" href="styles/style.css")
title
body.h-full.w-full
  // quarter
  - for(var x = 0; x < 24; x++)
    div.relative.text-xs.inline-block.float-left.px-4.py-8.pl-6.quarter(class="w-1/2 h-1/2 print:w-1/2 print:h-1/2 print:text-xs")
      // column
      div.float-left(class="w-7/12")
        // row
        div(class="table after:content-[''] clear-both")
          span.font-bold HH Production Environment
          br
          span 1450 Frazee Road #410, San Diego, CA 92108
          br
          span Return Service Requested
          br
        // row
        div.mt-4(class="table after:content-[''] clear-both")
          span
            | Account Number:
            =" "
            span.font-bold HH-621
          br
          span
            | Invoice Date:
            =" "
            span.font-bold 03/21/2023
          br
          span
            | Billing Period
            =" "
            span.font-bold 02/01/2023 - 05/01/2023
          br
          span
            | Prior Balance:
            =" "
            span.font-bold $83.28
        //row
        table.w-full.table-auto.border-collapse.border.border-slate-400.text-xs.mt-8
          thead
            tr
              th.text-left.border.border-slate-400 SERVICE
              th.text-left.border.border-slate-400 DATE
              th.text-left.border.border-slate-400 PRICE
          tbody
            tr
              td.border.border-slate-400 Residential - Own Can
              td.border.border-slate-400 04/01/2023 - 06/30/2023
              td.border.border-slate-400 $83.28
        div.mt-4(class="table after:content-[''] clear-both")
        p Please visit https://www.haulerhero.com to see your invoice and make payment

      // column
      div.float-left(class="w-5/12")
        // row
        div.w-full.text-center(class="table after:content-[''] clear-both")
          .inline-block.ml-6.p-2.border.border-2.border-slate-900.rounded-lg
            span First Class Mail
              br
              span US Postage Paid
              br
              span Mailed from Zip Code 90210
              br
              span Permit #1001
        //empty row
        div.mt-12.ml-8(class="table after:content-[''] clear-both")
          span
            | Account Number:
            =" "
            span.font-bold HH-621
          br
          span
            | Due Date:
            =" "
            span.font-bold 04/05/2023
          br
          span
            | Amount Due:
            =" "
            span.font-bold $166.56
          br
          span Return this stub with payment
        // row
        div.mt-4.ml-8(class="table after:content-[''] clear-both")
          span.font-bold Jamie Shaffer
          br
          span 3381 Dogtown Road
          br
          span Reedsville, WV 26547
          br
      div.absolute.z-1.border-dashed.border-r-2.border-slate-700.top-0(class="w-[2px] h-full left-[60%]")